@model AllTransfersQueryModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
{

    <h1><a class="dropdown-item" asp-controller="Transfers" asp-action="Add">Add Transfer</a></h1>
}
<table class="table text-white-50">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Game</th>
            <th scope="col">Player</th>
            <th scope="col">Team</th>
            <th scope="col">Transfer date</th>
            <th scope="col">Position</th>
            @*Ako e admin*@
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
        <partial name="_TransfersPartial" model="@Model.Transfers" />
    </tbody>
</table>