@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    ViewData["Title"] = "Admin Panel";
}

<a class="dropdown-item" asp-controller="Admin" asp-action="Players" asp-route-id="Index">All Players</a>
<a class="dropdown-item" asp-controller="Admin" asp-action="AddPlayer">Add New Player</a>
<a class="dropdown-item" asp-controller="Admin" asp-action="AddGameProfile">Add Game Profile</a>